.calcWrapper {
  position: relative;
  width: 35%;

  border-radius: 10px;
  background-color: white;
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.2);
}

.calcWrapper .calcNavMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;

  display: none;
  background-color: #ccc;
}

.calcWrapper .calcHeader {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 20px;

  background-color: hsl(12, 96%, 67%);
  border-radius: 10px 10px 0 0;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}
.calcWrapper .calcHeader button {
  position: absolute;
  left: 0;
  padding: 4px 10px;
  margin: 0 15px;

  font-size: 2rem;
  text-align: center;

  border: none;
  border-radius: 5px;
  background-color: transparent;
  color: white;

  z-index: 2;
}
.calcWrapper .calcHeader button:hover {
  cursor: pointer;
  filter: brightness(0.8);
}
.calcWrapper .calcHeader h2 {
  position: relative;
  width: 100%;
  text-align: center;
}

.calcWrapper .calcBody {
  position: relative;
  padding: 20px;
}

/* BASIC MODE STYLE */
.calcBasicMode {
  position: relative;
  width: 100%;
  padding: 20px 10px;

  text-align: center;
}
.calcBasicMode .formGroup {
  position: relative;
  width: 100%;
  padding: 4px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.calcBasicMode .formGroup {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  padding: 4px;
}
.calcBasicMode .formGroup label:not(.formResult label) {
  position: relative;
  padding: 15px 16px;
  background-color: #ddd;
  border-bottom: 1px solid black;
  font-size: 1.4em;
  border-radius: 10px 0 0 10px;
}
.calcBasicMode .formGroup input:not(.formResult input) {
  position: relative;
  width: 100%;
  padding: 15px 16px;
  border: none;
  font-size: 1.4em;
  border-bottom: 1px solid black;
  border-radius: 0 10px 10px 0;
}

.calcBasicMode .formResult {
  position: relative;
  width: 100%;
  margin: 0 4px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.calcBasicMode .formResult select {
  position: relative;
  padding: 5px 10px;
  border: none;
  background-color: #ddd;
  border-bottom: 1px solid black;
  font-size: 1.2em;
  border-radius: 4px;
}
.calcBasicMode .formResult .formGroup {
  margin: 0;
  display: flex;
  justify-content: flex-end;
}
.calcBasicMode .formResult .formGroup label {
  position: relative;
  padding: 5px 10px;
  background-color: #ddd;
  border-bottom: 1px solid black;
  font-size: 1.2em;
  border-radius: 10px 0 0 10px;
}
.calcBasicMode .formResult .formGroup input {
  position: relative;
  width: 50%;
  padding: 5px 10px;
  border: none;
  font-size: 1.2em;
  border-bottom: 1px solid black;
  border-radius: 0 10px 10px 0;
}

.calcBasicMode .submitBtn {
  position: relative;
  width: 50%;
  margin-top: 40px;
  padding: 15px;

  font-weight: bolder;
  font-size: 1.2rem;

  border: none;
  background-color: hsl(12, 96%, 67%);
  border-radius: 10px;
  color: white;
}

.calcBasicMode .submitBtn:hover,
.calcBasicMode select:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

/* STANDARD MODE STYLE */
